@import url("../../theme.css");
@import "../../theme.css";
.dashboard-box {

    display: flex;
    align-content: center;
    justify-content: center;

    border: 1px solid var(--accent4);
    border-radius: 10px;
    background-color: var(--accent4);
    
    margin: max(1vh, 20px) 1vw max(1vh, 20px) 1vw;
    height: max(20vh, 150px);
    max-height: 200px;

    width: 100%;

    box-shadow: 7px 7px var(--accent3);

    cursor: pointer;
}

.dashboard-box:hover {
    background-color: var(--accent3);
}

.dashboard-icon {
    width: 100%;
    height: min(max(7vh, 50px), 5vw);
    min-height: 50px;
    color: var(--accent1);
    margin-top: min(1vh, 1vw);
    margin-bottom: min(2vh, 2vw);
}

.action-description {
    color: var(--text);
}

.action-message {
    padding-top: min(2vh, 2vw);
    padding-bottom: min(2vh, 2vw);
}

.action-message, .action-description {
    display: flex;
    align-content: center;
    justify-content: center;

    font-family: 'BIZ UDPGothic', sans-serif;
}

