@import url("../../theme.css");
@import "../../theme.css";
.orange-button {
    color: var(--accent1);
    border-color: var(--accent1);
    width: 100%;
}

.orange-button:hover {
    background-color: var(--accent1);
    color: white;
}