.sidebar-message {
    width: 100%;
    border: 1px solid gainsboro;
    padding: 1vw;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0;

    font-family: 'Raleway', sans-serif;

    cursor: pointer;
}

#messages-container {
    padding: 0;
    margin: 1vh 1vw 1vh 1vw;

    width: calc(100% - 2vw);
    height: calc(100% - 2vh);
    border: 1px solid green;
}

#conversation-col {
    border: 3px solid aqua;
    padding: 0;
}

#conversation-header {
    background-color: gainsboro;
    width: 100%;
    padding: 1vh 1vw 1vh 1vw;
    margin: 0;
}

.sidebar {
    border: 10px solid gray;
}

.message-container {
    border: 4px solid blue;
}

.message {
    margin: 1vh 1vw 0 1vw;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 5px;
    width: fit-content;
}

.message-time {
    color: gray;
    font-size: 12px;
    margin: 0 1vw 1vh 1vw;
}

#conversation-footer {
    background-color: gainsboro;
    width: 100%;
    margin: 0;
}

.new-message-box {
    background-color: gainsboro;
}

#send-icon {
    cursor: pointer;
}