#avatar {
  width: 150px;
  height: 150px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#profile-box {
  background-color: var(--bkg2);
  margin-top: 2vh;
  border: 4px solid var(--accent3);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-content: center;
}

#message-user-button {
  margin: 1vh 1vw 1vh 1vw;
  width: calc(100% - 2vw);
}

#portfolio-title,
#review-title {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.review {
  border: 2px solid var(--accent3);
  border-radius: 10px;
  padding: max(min(2vw, 2vh), 15px);
}

.venue-preview {
  border: 2px solid var(--accent3);
  border-radius: 10px;
  padding: max(min(2vw, 2vh), 15px);
}

.star {
  color: orange;
}

#avatar-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#email {
  color: var(--accent3);
}

.venue-preview-link {
  text-decoration: none;
  color: var(--text);
}

.venue-image {
  height: 10vh;
  width: auto;
}
