@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Raleway&display=swap");

body {
  margin: 0;

  font-family: "Raleway", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h3,
h5 {
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 700;
}

.global-container {
  min-width: 100vw;
  min-height: 100vh;
  margin-left: 0;
  padding: 0;
}
