.btn-primary {
    background-color: var(--accent1);
    border-color: var(--accent1);
    color: white;
}

.btn-primary:hover {
    background-color: var(--accent2);
    border-color: var(--accent2);
    color: white;
}

.btn-primary:disabled {
    background-color: var(--accent1);
    border-color: var(--accent1);
    color: white;
    opacity: 0.5;
}

body {
    background-color: var(--bkg1);
    color: var(--text);
}