/* Light / Dark mode variables */

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    
    --text-light: black;
    --accent1-light: hsl(21, 84%, 56%);
    --accent2-light: hsl(40, 89%, 65%);
    --accent3-light: gray;
    --accent4-light: gainsboro;
    --bkg1-light: hsl(0, 0%, 100%);
    --bkg2-light: orange;
    --shadow-light: 20px 20px 50px rgba(59, 45, 28, 0.35),
    -30px -30px 50px rgba(249, 247, 241, 0.15);
    
    --text-dark: white;
    --accent1-dark: hsl(21, 84%, 56%);
    --accent2-dark: hsl(40, 89%, 65%);
    --accent3-dark: gainsboro;
    --accent4-dark: gray;
    --bkg1-dark: hsl(218, 15.4%, 10.2%);
    --bkg2-dark: hsl(218, 14.7%, 18.7%);
    --shadow-dark: 20px 20px 50px rgba(59, 45, 28, 0.35), -30px -30px 50px rgba(91, 58, 42, 0.15);
}

@media(prefers-color-scheme: dark){
:root {
    --text: var(--text-dark);
    --accent1: var(--accent1-dark);
    --accent2: var(--accent2-dark);
    --accent3: var(--accent3-dark);
    --accent4: var(--accent4-dark);
    --bkg1: var(--bkg1-dark);
    --bkg2: var(--bkg2-dark);
    --shadow: var(--shadow-dark);
}
}

@media(prefers-color-scheme: light){
:root {
    --text: var(--text-light);
    --accent1: var(--accent1-light);
    --accent2: var(--accent2-light);
    --accent3: var(--accent3-light);
    --accent4: var(--accent4-light);
    --bkg1: var(--bkg1-light);
    --bkg2: var(--bkg2-light);
    --shadow: var(--shadow-light);
}
}

[color-scheme="dark"]{
--text: var(--text-dark);
--accent1: var(--accent1-dark);
--accent2: var(--accent2-dark);
--accent3: var(--accent3-dark);
--accent4: var(--accent4-dark);
--bkg1: var(--bkg1-dark);
--bkg2: var(--bkg2-dark);
--shadow: var(--shadow-dark);
}

[color-scheme="light"] {
--text: var(--text-light);
--accent1: var(--accent1-light);
--accent2: var(--accent2-light);
--accent3: var(--accent3-light);
--accent4: var(--accent4-light);
--bkg1: var(--bkg1-light);
--bkg2: var(--bkg2-light);
--shadow: var(--shadow-light);
}

/* Custom theme */

.btn-primary {
    background-color: var(--accent1);
    border-color: var(--accent1);
    color: white;
}

.btn-primary:hover {
    background-color: var(--accent2);
    border-color: var(--accent2);
    color: white;
}

.btn-primary:disabled {
    background-color: var(--accent1);
    border-color: var(--accent1);
    color: white;
    opacity: 0.5;
}

body {
    background-color: var(--bkg1);
    color: var(--text);
}